body {
    border:5px ridge red;
    margin-top:150;
    background-color:blue;
    height:1128px;
    color:white;
    }
    
h3 {
    color:blue;
    text-decoration:underline;
    font-family:Verdana;
}

a:link {
    color:yellow
    }

a:visited {
    color:red;
    }
    
a:hover {
    color:green;
    font-size:20px;
    }
    
a:active {
    color:purple;
    }

.stressballs {
    position:absolute;
    overflow:auto;
    width:600px;
    left:29%;
    top:130%;
    border:4px ridge black;
    text-align:center;
    background-color:white;
    font-family:Arial;
    font-size:18;
    color:black;
    }

.phead {
    border:3px ridge darkgray;
    text-align:center;
    font-family:Arial;
    position:absolute; 
    left:12%;
    color:blue;
    background-color:black;
    }

.shortstory1 {
    position:absolute;
    right:1%;
    top:35%;
    border:4px dashed darkgreen;
    overflow:auto;
    width:200px;
    height:200;
    text-align:center;
    background-color:black;
    }
 
.posidonjep {
    position:absolute;
    overflow:auto;
    width:600px;
    left:29%;
    top:40%;
    border:5px ridge orange;
    background-color:white;
    text-align:center;
    color:seagreen;
    } 
  
.othersites {
    position:absolute;
    right:1%;
    top:172%;
    border:4px dashed darkred;
    overflow:auto;
    width:200px;
    height:200;
    text-align:center;
    background-color:black;
    }
   
.survey {
    position:absolute;
    left:1%;
    top:35%;
    border:4px dashed darkblue;
    overflow:auto;
    width:200px;
    height:200;
    text-align:center;
    font-family:Arial;
    background-color:black;
    }
 
.cookrecepies {
    position:absolute;
    border:4px dashed purple;
    left:1%;
    top:70%;
    text-align:center;
    overflow:auto;
    width:200px;
    height:200px;
    background-color:black;
    }
    
.bookrecomendations {
    position:absolute;
    border:4px dashed yellow;
    left:1%;
    top:105%;
    text-align:center;
    overflow:auto;
    width:200px;
    height:200px;
    background-color:black;
    }

.typingcom {
    position:absolute;
    border:4px dashed green;
    left:1%;
    top:140%;
    text-align:center;
    overflow:auto;
    width:200px;
    height:200px;
    background-color:black;
    }
 
.history {
    position:absolute;
    border:4px dashed blue;
    left:1%;
    top:175%;
    text-align:center;
    width:350px;
    height:183px;
    background-color:black;
    }
 
.navbar {
    position:absolute;
    border:4px ridge white;
    left:1%;
    margin-top:-50px;
    right:1%;;
    height:30;
    font-size:20px;
    }
 
#head {
    position:absolute;
    background-color:rgb(0, 255, 150);
    border: 5px ridge red;
    text-align:center;
    margin-top:-150;
    left:30%;
    font-family:Cursive;
    height:70;
    }
    
#authors {
    position:absolute;
    border:4px dashed magenta;
    right:1%;
    top:70%;
    text-align:center;
    overflow:auto;
    width:200px;
    height:200px;
    background-color:black;
    }
    
#coolmath {
    position:absolute;
    border:4px dashed violet;
    right:1%;
    top:105%;
    text-align:center;
    width:325px;
    height:400px;
    background-color:black;
    }
